<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Index']">SKE Registration</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [class.active]="router.isRouteActive(router.generate(['/Index']))"><a [routerLink]="['Index']">Index</a></li>
        <li [class.active]="router.isRouteActive(router.generate(['/Enrollment']))"><a [routerLink]="['Enrollment']">Enrollment</a></li>
        <li [class.active]="router.isRouteActive(router.generate(['/Report']))"><a [routerLink]="['Report']">Report</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search" [hidden]="checkLogin()">
        <div class="form-group">
          <input #studentID type="text" class="form-control" placeholder="10 Digits student-ID">
        </div>
        <button type="submit" class="btn btn-default" (click)="login(studentID.value)">Login</button>
      </form>
      <div class="navbar-form navbar-right form-group" *ngIf="checkLogin()">
        <button type="submit" class="btn btn-default" onclick="document.location.href='/';">Logout</button>
      </div>
      <a class="navbar-brand navbar-right" [hidden]="!checkLogin()">Logged in as {{studentID.value}}</a>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>