<center><h2>Courses</h2></center>
<div *ngIf="courses" style="width: 100%; margin: 0px auto;">
	<ul style="list-style: none;">
		<div class=”row” style="width:100%">
    		<div>
    			<input class="form-control" placeholder="Search for.." type="text" #listFilter (keyup)="0" />
    		</div>
        </div>    
		<br>
		<li *ngFor="let course of courses | search:listFilter.value">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2" style="padding-right: 0px;">
                <button type="button" class="btn btn-primary"
                        (click)="requestForEnrollment(course);"
                        [disabled]="checkDisableEnrollButton(course)">{{enrollButton}}
                </button>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10" style="padding-left: 0px;">
                <button title="{{course.name.en}}" type="button" class="btn btn-info" style="width:100%; text-align: left;"
                        (click)="collapseList[course.id] = !collapseList[course.id]">{{course.id}} : {{course.name.en}}
                </button>
                </div>
            </div>
            <br>
            <div [collapse]="collapseList[course.id]" class="card card-block card-header">
                <div class="well well-lg">
                Credits : {{course.credit.total}} <br>
                	Description : <br>
                    <p style="text-indent: 3em;">{{course.description.en}}</p>
                </div>
            </div>
		</li>
	</ul>
</div>