<div class="row">
    <div class="col-sm-7 col-md-7 col-lg-7">
        <my-course-description [tempCourses]="enrollList" [studentID]="studentID"></my-course-description>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
    <div *ngIf="showJSON" class="well">
        {{jsonText}}
    </div>
    <div class="well" align="center">
        <center><h2>Enrollment</h2></center>
        <div *ngIf="enrollList.length > 0" align="center">
            <br>
            <button type="button" class="btn btn-success" (click)="viewJSON();">View JSON</button>
            <br>
            <br>
        </div>
        <div *ngIf="enrollList">
            <ul style="list-style: none;">   
                <li *ngFor="let course of enrollList">
                <div class="row">
                    <button type="button" class="btn btn-danger" (click)="removeCourse(course);">Remove</button>
                    <button type="button" class="btn btn-primary" style="width:80%"
                    (click)="course.collapse2 = !course.collapse2">{{course.id}} : {{course.name.en}}
                    </button>
                </div>
                    <br>
                    <br>
                    <div [collapse]="course.collapse2" class="card card-block card-header">
                        <div class="well well-lg">
                            {{course.description.en}}
                        </div>
                    </div>
                </li>
            </ul>
            <div *ngIf="enrollList.length > 0" class="row" style="text-align: center;">
                <button type="button" class="btn btn-success" (click)="enroll();" [disabled]="isEnrolling">Confirm</button>
                <button type="button" class="btn btn-warning" (click)="discard();" [disabled]="isEnrolling">Discard</button>
            </div>
        </div>
    </div>
    </div>
</div>