<center><h2>Course Description</h2></center>
<div *ngIf="courses" style="width: 70%; margin: 0px auto;">
	<ul style="list-style: none;">
		<div class=”row” style="width:100%">
    		<div>
    			<input class="form-control" placeholder="Search by ID or name" type="text" #listFilter (keyup)="0" />
    		</div>
        </div>    
		<br>
		<li *ngFor="let course of courses | search:listFilter.value">
                <button title="{{course.name.en}}" type="button" class="btn btn-info" style="width:100%; text-align: left;"
                        (click)="course.collapse = !course.collapse">{{course.id}} : {{course.name.en}}
                </button>
            <br>
            <br>
            <div [collapse]="course.collapse" class="card card-block card-header">
                <div class="well well-lg">
                Credits : {{course.credit.total}} <br>
                	Description : <br>
                    <p style="text-indent: 3em;">{{course.description.en}}</p>
                </div>
            </div>
		</li>
	</ul>
</div>