<div *ngIf="!studentID">
    <center><h2>Please log in first</h2></center>
</div>
<div *ngIf="studentID.length == 10">
<div *ngIf="enrolledList" style="width: 100%; margin: 0px auto;">
    <div class="well"><center><h2>Enrollment Report</h2></center>
        <div *ngIf="enrolledList.length == 0">
            <center><h3>You haven't enrolled any courses</h3></center>
        </div>
	    <ul style="list-style: none;">   
            <li *ngFor="let course of enrolledList">
            <div class="row" align="center">
                <button type="button" class="btn btn-danger" (click)="dropCourse(course);" [disabled]="isDropping">Drop</button>
                <button title="{{course.name.en}}" type="button" class="btn btn-info" style="width:80%; text-align: left;">
                {{course.id}} : {{course.name.en}}
                </button>
            </div>
            <br>
            </li>
        </ul>
        <div style="text-align: center;">
        <label>Total enrolled credits : {{allCredit}}</label><br>
        <button type="button" class="btn btn-success" (click)="viewJSON();">View JSON</button>
        </div>
    </div>
    <div *ngIf="showJSON" class="well">
        {{textJSON}}
    </div>
</div>
</div>